<% if object.errors.any? %>
  <div class="bg-red-100 text-red-800 p-3 rounded mb-4">
    <h2><%= pluralize(object.errors.count, "件のエラー") %>が発生しました:</h2>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
